<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="AFET_YONETIMConnectionStringMSSQL_LOCAL"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AFET_YONETIM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="AFET_YONETIMConnectionStringMSSQL"
           connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AFET_YONETIM;Integrated Security=True"
           providerName="System.Data.SqlClient"/>
      <add name="AFET_YONETIMConnectionStringMSSQL_REMOTE"
           connectionString="Data Source=kalkan.asuscomm.com;Initial Catalog=AFET_YONETIM;Persist Security Info=True;User ID=afet_yonetim;Password=EquB7RDjPNJqVqjS"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <globalization culture="tr-TR" uiCulture="tr-TR" />
    </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
